@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --font-inter: "Inter", "sans-serif";
    --font-manrope: "Manrope", "sans-serif";
    --font-noto-sans: "Noto Sans", "sans-serif";
    --font-public-sans: "Public Sans", "sans-serif";
    --font-source-sans: "Source Sans 3", "sans-serif";
    --font-fira-sans: "Fira Sans", "sans-serif";
    --font-grotesk-sans: "Schibsted Grotesk", "sans-serif";
    --font-mako-sans: "Mako", "sans-serif";
    --font-roboto: "Roboto", "sans-serif";

    --color-offwhite-100: oklch(96% 0.00011 271);
    --color-offwhite-200: oklch(0.9 0 0);
    --color-primary: oklch(79.592% 0.10095 45.813);
    --color-nextlight: oklch(0.54 0.02 352.21);
}

@layer base {
    h1 {
        font-size: var(--text-5xl);
    }
    h2 {
        font-size: var(--text-4xl);
    }
    h3 {
        font-size: var(--text-3xl);
    }
}
